
<div class="slds-grid slds-wrap">
<%= link_to(root_path+'mc/journey?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Journey Builder </div>
<% end %>
<%= link_to(root_path+'mobile/demo?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Mobile - RB Notification </div>
<% end %>
<%= link_to(root_path+'today/today?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Today - RB </div>
<% end %>
<%= link_to(root_path+'mobile/ipad?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> iPad - Comm Banking</div>
<% end %>
<%= link_to(root_path+'mobile/ins?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Mobile - Ins Notification</div>
<% end %>
<%= link_to(root_path+'ins/community?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Community - Insurance</div>
<% end %>
</div>
