
<div class="slds-grid">
<%= link_to(root_path+'mc/journey?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Journey Builder </div>
<% end %>
<%= link_to(root_path+'mobile/demo?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Mobile </div>
<% end %>
<%= link_to(root_path+'mobile/ipad?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> iPad </div>
<% end %>
<%= link_to(root_path+'today/today?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Today </div>
<% end %>
<%= link_to(root_path+'ins/community?i=02u6100000052eW') do %>
	<div class="slds-card slds-p-around--large slds-m-around--large"> Community </div>
<% end %>
</div>
