 <div class="grid-temp" style="height:100vh; width:100vw;">
	<%= render 'layouts/nav' %>
	<div class="slds-col grid-1" style="overflow:scroll;">
	 <div class="slds-grid slds-wrap slds-align-top">
	 	<div class="slds-col slds-size--1-of-1 navbar-temp">
	 		<div class="slds-grid">
			  <div class="slds-col slds-align-middle">
			  	<span class="slds-icon__container slds-icon-utility-salesforce1">
				  <svg aria-hidden="true" class="slds-icon slds-icon-text-default icon-salesforce1-temp">
				    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#salesforce1"></use>
				  </svg>
				</span>
			  </div>
			  <div class="slds-col slds-align-middle" style="text-align:center;">
			  	<div class="slds-input" style="text-align:left;">
			  		<span class="slds-icon__container slds-icon-utility-search slds-m-horizontal--x-small">
					  <svg aria-hidden="true" class="slds-icon--x-small slds-icon-text-default">
					    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#search"></use>
					  </svg>
					</span>
			  		<input id="input__filter" type="text" placeholder="Search Salesforce" style="width:70%; border:none;">
			  	</div>
			  	
			  </div>
			  <div class="slds-col slds-align-middle icon-container ">
				<span class="slds-icon__container slds-icon-utility-apps slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#apps"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-question slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#question"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-setup slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#setup"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-notification slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#notification"></use>
				  </svg>
				</span>
		 		<%= link_to(root_path) do %>
			 		<span class="slds-avatar slds-avatar--circle slds-avatar--small slds-m-horizontal--x-small">
					  <img src="<%= asset_path('images/Ryan.png') %>" alt="person name" />
					</span>
				<% end %>
			  </div>
			</div>
	 	</div>
		<nav class="slds-col slds-size--1-of-1">
		<!-- begin header -->
			<div class="slds-page-header">
			  <div class="slds-grid">
			    <div class="slds-col slds-has-flexi-truncate">
			      <div class="slds-media">
			        <div class="slds-media__figure slds-avatar slds-avatar--medium">
			          <img src="<%= asset_path('images/Rachel.png') %>" alt="Rachel Adams" />
			        </div>
			        <div class="slds-media__body">
			          <p class="slds-text-heading--label">CLIENTS > CLIENT</p>
			          <div class="slds-grid">
			            <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">Rachel Adams</h1>
			            <div class="slds-col slds-shrink-none">
			              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
			                <span class="slds-text-not-selected">
			                  <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
			                    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#add"></use>
			                  </svg>Follow</span>
			                <span class="slds-text-selected">
			                  <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
			                    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#check"></use>
			                  </svg>Following</span>
			                <span class="slds-text-selected-focus">
			                  <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
			                    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#close"></use>
			                  </svg>Unfollow</span>
			              </button>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			    <div class="slds-col slds-no-flex slds-align-bottom">
			      <div class="slds-button-group" role="group">
			        <button class="slds-button slds-button--neutral">Actions</button>
			        <div class="slds-button--last">
			          <button class="slds-button slds-button--icon-border-filled">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
			            </svg>
			            <span class="slds-assistive-text">More</span>
			          </button>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="slds-grid slds-page-header__detail-row">
			    <div class="slds-col--padded slds-size--1-of-5">
			      <dl>
			        <dt>
			          <p class="slds-truncate" title="Field 1">Total Accounts</p>
			        </dt>
			        <dd>
			          <p class="slds-text-body--regular slds-truncate" title="1">$3,500,000</p>
			        </dd>
			      </dl>
			    </div>
			    <div class="slds-col--padded slds-size--1-of-5">
			      <dl>
			        <dt>
			          <p class="slds-truncate" title="Field 1">Level</p>
			        </dt>
			        <dd>
			          <p class="slds-text-body--regular slds-truncate" title="2">Diamond</p>
			        </dd>
			      </dl>
			    </div>
			    <div class="slds-col--padded slds-size--1-of-5">
			      <dl>
			        <dt>
			          <p class="slds-truncate" title="Field 1">Health</p>
			        </dt>
			        <dd>
			          <p class="slds-text-body--regular slds-truncate" title="2">Poor</p>
			        </dd>
			      </dl>
			    </div>
			    <div class="slds-col--padded slds-size--1-of-5">
			      <dl>
			        <dt>
			          <p class="slds-truncate" title="Field 1">Last Interaction</p>
			        </dt>
			        <dd>
			          <p class="slds-text-body--regular slds-truncate" title="2">9/1/2015</p>
			        </dd>
			      </dl>
			    </div>
			    <div class="slds-col--padded slds-size--1-of-5">
			      <dl>
			        <dt>
			          <p class="slds-truncate" title="Field 1">Next Interaction</p>
			        </dt>
			        <dd>
			          <p class="slds-text-body--regular slds-truncate" title="2">2/15/2016</p>
			        </dd>
			      </dl>
			    </div>
			  </div>
			</div>
			<!-- end header -->
		</nav>
<!-- begin grid -->
	<main class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
		<div class="slds-tabs--default row-main" style="padding:0 1.5rem;">
		  <ul class="slds-tabs--default__nav" role="tablist">
		    <li class="slds-tabs__item slds-text-heading--label center-tabs-temp" title="Details" role="presentation" id="main-tab-details"><a  role="tab" tabindex="0" aria-selected="true">Details</a></li>
		    <li class="slds-tabs__item slds-text-heading--label center-tabs-temp" title="Tearsheet" role="presentation" id="main-tab-tearsheet" style="overflow:visible;"><a  role="tab" tabindex="0" aria-selected="true">Tearsheet</a></li>
		    <li class="slds-tabs__item slds-text-heading--label slds-active center-tabs-temp" title="Financial Accounts" role="presentation" id="main-tab-financial"><a href="#" role="tab" tabindex="-1" aria-selected="false">Financial Accounts</a></li>
		    <li class="slds-tabs__item slds-text-heading--label center-tabs-temp" title="Relationships" role="presentation" id="main-tab-relationships" style="overflow:visible;"><a href="#" role="tab" tabindex="-1" aria-selected="false">Relationships</a></li>
		    <li class="slds-tabs__item slds-text-heading--label center-tabs-temp" title="Goals" role="presentation" id="main-tab-goals" style="overflow:visible;"><a href="#" role="tab" tabindex="-1" aria-selected="false">Goals</a></li>
		  </ul>
		  <div class="slds-tabs__content slds-hide main-tab-content" role="tabpanel" id="main-tab-content-details">
		    <%= render 'wm/profile/details' %>
		  </div>
<!-- Tear Sheet -->
		  <div class="slds-tabs__content slds-hide main-tab-content" role="tabpanel" id="main-tab-content-tearsheet">
		    <%= render 'wm/profile/tearsheet' %>
		  </div>
<!-- Financial Summary -->
		  <div class="slds-tabs__content slds-show main-tab-content" role="tabpanel" id="main-tab-content-financial">
		  	<%= render 'wm/profile/financials' %>
		  </div>
<!-- Begin Household -->
		  <div class="slds-tabs__content slds-hide main-tab-content" role="tabpanel" id="main-tab-content-relationships">
		    <%= render 'wm/profile/relationships' %>
		  </div>
<!-- Begin Goals -->
		  <div class="slds-tabs__content slds-hide main-tab-content" role="tabpanel" id="main-tab-content-goals">
		    <%= render 'wm/profile/goals' %>
		  </div>
	</main>

<!-- BEGIN SIDE --><!-- BEGIN SIDE --><!-- BEGIN SIDE --><!-- BEGIN SIDE --><!-- BEGIN SIDE -->
	
	<aside class="slds-col slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12" >
		<!-- begin Side Area -->
		<div  style="border-left:1px solid #d8dde6; padding:0 1.5rem;">
			<!-- begin Chatter Thing -->
			<div class="slds-tabs--default">
			  <ul class="slds-tabs--default__nav" role="tablist">
			    <li class="slds-tabs__item slds-text-heading--label slds-active side-tabs-temp" title="Item One" role="presentation" id="side-tab-activity"><a href="#" role="tab" tabindex="0" aria-selected="true" >Activity</a></li>
			    <li class="slds-tabs__item slds-text-heading--label side-tabs-temp" title="Item Two" role="presentation" id="side-tab-collaborate"><a href="#" role="tab" tabindex="-1" aria-selected="false" >Collaborate</a></li>
			  </ul>
			  <div class="slds-tabs__content slds-show side-tab-content" role="tabpanel" id="side-tab-content-activity">
			    <div class="slds-tabs--scoped" style="padding-bottom:1.5rem;">
				  <ul class="slds-tabs--scoped__nav" role="tablist">
				    <li class="slds-tabs__item slds-text-heading--label slds-active" title="Item One" role="presentation"><a href="#" role="tab" tabindex="0" aria-selected="true">Task</a></li>
				    <li class="slds-tabs__item slds-text-heading--label" title="Item Two" role="presentation"><a href="#" role="tab" tabindex="-1" aria-selected="false">Event</a></li>
				    <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation"><a href="#" role="tab" tabindex="-1" aria-selected="false">Log a Call</a></li>

				  </ul>
				  <div class="slds-tabs__content slds-show" role="tabpanel">
				     <input id="input__filter" class="slds-input" type="text" placeholder="Create a new task..." />
				  </div>
				  <div class="slds-tabs__content slds-hide" role="tabpanel">
				    <h2>Item Two Content</h2>
				  </div>
				  <div class="slds-tabs__content slds-hide" role="tabpanel">
				    <h2>Item Three Content</h2>
				  </div>
				</div>
				<!-- begin Timeline -->
				<div class="timelineHeader">
					<h2 class="sectionHeader"> Next Steps </h2>
				</div>
				<ul class="slds-timeline">
				  <li class="slds-timeline__item">
				    <span class="slds-assistive-text">Task</span>
				    <div class="slds-media slds-media--reverse">
				      <div class="slds-media__figure">
				        <div class="slds-timeline__actions">
				          <p class="slds-timeline__date">Sep 17</p>
				          <button class="slds-button slds-button--icon-border-filled">
				            <svg aria-hidden="true" class="slds-button__icon">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#switch"></use>
				            </svg>
				            <span class="slds-assistive-text">Switch</span>
				          </button>
				        </div>
				      </div>
				      <div class="slds-media__body">
				        <div class="slds-media slds-media--timeline slds-timeline__media--task">
				          <div class="slds-media__figure">
				            <svg aria-hidden="true" class="slds-icon slds-icon-standard-task slds-timeline__icon">
				              <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#task"></use>
				            </svg>
				          </div>
				          <div class="slds-media__body">
				            <div class="slds-media slds-tile slds-media--small">
				              <div class="slds-media__figure">
				                <label class="slds-checkbox" for="mark-complete">
				                  <input name="checkbox" type="checkbox" id="mark-complete" />
				                  <span class="slds-checkbox--faux"></span>
				                  <span class="slds-form-element__label slds-assistive-text">mark-complete</span>
				                </label>
				              </div>
				              <div class="slds-media__body">
				                <p class="slds-tile__title slds-truncate"><a href="#">Send new documentation for signature of HNW clients</a></p>
				                <ul class="slds-tile__detail slds-list--horizontal slds-text-body--small">
				                  <li class="slds-list__item slds-m-right--large">
				                    <dl class="slds-dl--inline">
				                      <dt class="slds-dl--inline__label">Contact:</dt>
				                      <dd class="slds-dl--inline__detail"><a href="#">Rachel Adams</a></dd>
				                    </dl>
				                  </li>
				                  <li class="slds-list__item">
				                    <dl class="slds-dl--inline">
				                      <dt class="slds-dl--inline__label">Assigned to:</dt>
				                      <dd class="slds-dl--inline__detail"><a href="#">Ryan Dobson</a></dd>
				                    </dl>
				                  </li>
				                </ul>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				  </li>
				</ul>
				<div class="timelineHeader" style="padding-top:1rem;">
					<h2 class="sectionHeader"> Past Activity </h2>
				</div>
				<ul class="slds-timeline">
				  <li class="slds-timeline__item">
				    <span class="slds-assistive-text">Event</span>
				    <div class="slds-media slds-media--reverse">
				      <div class="slds-media__figure">
				        <div class="slds-timeline__actions">
				          <p class="slds-timeline__date">Sep 8</p>
				          <button class="slds-button slds-button--icon-border-filled">
				            <svg aria-hidden="true" class="slds-button__icon">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#switch"></use>
				            </svg>
				            <span class="slds-assistive-text">Switch</span>
				          </button>
				        </div>
				      </div>
				      <div class="slds-media__body">
				        <div class="slds-media slds-media--timeline slds-timeline__media--event">
				          <div class="slds-media__figure">
				            <svg aria-hidden="true" class="slds-icon slds-icon-standard-event slds-timeline__icon">
				              <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#event"></use>
				            </svg>
				          </div>
				          <div class="slds-media__body">
				            <p><a href="#">Rachel Adams — Porfolio Review</a></p>
				            <p class="slds-truncate">Let's get together and review your portfolio performance.</p>
				            <ul class="slds-list--horizontal slds-text-body--small">
				              <li class="slds-list__item slds-m-right--large">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Time:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">Sep 9, 2015 11:00am–12:00pm</a></dd>
				                </dl>
				              </li>
				              <li class="slds-list__item">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Location:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">1 Market St, San Francisco CA</a></dd>
				                </dl>
				              </li>
				            </ul>
				            <dl class="slds-dl--inline slds-text-body--small">
				              <dt class="slds-dl--inline__label">Name:</dt>
				              <dd class="slds-dl--inline__detail"><a href="#">Ryan Dobson</a> and <a href="#">Rachel Adams</a></dd>
				            </dl>
				          </div>
				        </div>
				      </div>
				    </div>
				  </li>
				  <li class="slds-timeline__item">
				    <span class="slds-assistive-text">Event</span>
				    <div class="slds-media slds-media--reverse">
				      <div class="slds-media__figure">
				        <div class="slds-timeline__actions">
				          <p class="slds-timeline__date">Sep 3</p>
				          <button class="slds-button slds-button--icon-border-filled">
				            <svg aria-hidden="true" class="slds-button__icon">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#switch"></use>
				            </svg>
				            <span class="slds-assistive-text">Switch</span>
				          </button>
				        </div>
				      </div>
				      <div class="slds-media__body">
				        <div class="slds-media slds-media--timeline slds-timeline__media--event">
				          <div class="slds-media__figure">
				            <svg aria-hidden="true" class="slds-icon slds-icon-standard-event slds-timeline__icon">
				              <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#event"></use>
				            </svg>
				          </div>
				          <div class="slds-media__body">
				            <p><a href="#">Napa Valley Film Festival</a></p>
				            <p class="slds-truncate">Rachel, I'd like to invite you, and your family, to be my guest at the Napa Valley Film Festival. </p>
				            <ul class="slds-list--horizontal slds-text-body--small">
				              <li class="slds-list__item slds-m-right--large">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Time:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">Feb 23, 2015 6:00pm–7:00pm</a></dd>
				                </dl>
				              </li>
				              <li class="slds-list__item">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Location:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">4th St, Napa CA</a></dd>
				                </dl>
				              </li>
				            </ul>
				            <dl class="slds-dl--inline slds-text-body--small">
				              <dt class="slds-dl--inline__label">Name:</dt>
				              <dd class="slds-dl--inline__detail"><a href="#">Product Team</a>, <a href="#">Marketing Team</a> and <a href="#">Sales Team</a></dd>
				            </dl>
				          </div>
				        </div>
				      </div>
				    </div>
				  </li>
				  <li class="slds-timeline__item">
				    <span class="slds-assistive-text">Call</span>
				    <div class="slds-media slds-media--reverse">
				      <div class="slds-media__figure">
				        <div class="slds-timeline__actions">
				          <p class="slds-timeline__date">Aug 26</p>
				          <button class="slds-button slds-button--icon-border-filled">
				            <svg aria-hidden="true" class="slds-button__icon">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#switch"></use>
				            </svg>
				            <span class="slds-assistive-text">Switch</span>
				          </button>
				        </div>
				      </div>
				      <div class="slds-media__body">
				        <div class="slds-media slds-media--timeline slds-timeline__media--call">
				          <div class="slds-media__figure">
				            <svg aria-hidden="true" class="slds-icon slds-icon-standard-log-a-call slds-timeline__icon">
				              <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#log_a_call"></use>
				            </svg>
				          </div>
				          <div class="slds-media__body">
				            <p><a href="#">Mobile conversation on Wednesday</a></p>
				            <p class="slds-truncate">Great chat about next steps for financial savings goal.</p>
				            <ul class="slds-list--horizontal slds-text-body--small">
				              <li class="slds-list__item slds-m-right--large">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Name:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">Rachel Adams</a></dd>
				                </dl>
				              </li>
				              <li class="slds-list__item">
				                <dl class="slds-dl--inline">
				                  <dt class="slds-dl--inline__label">Logged by:</dt>
				                  <dd class="slds-dl--inline__detail"><a href="#">Ryan Dobson</a></dd>
				                </dl>
				              </li>
				            </ul>
				          </div>
				        </div>
				      </div>
				    </div>
				  </li>
				  <li class="slds-timeline__item">
				    <span class="slds-assistive-text">Email</span>
				    <div class="slds-media slds-media--reverse">
				      <div class="slds-media__figure">
				        <div class="slds-timeline__actions">
				          <p class="slds-timeline__date">Aug 18</p>
				          <button class="slds-button slds-button--icon-border-filled">
				            <svg aria-hidden="true" class="slds-button__icon">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#switch"></use>
				            </svg>
				            <span class="slds-assistive-text">Switch</span>
				          </button>
				        </div>
				      </div>
				      <div class="slds-media__body">
				        <div class="slds-media slds-media--timeline slds-timeline__media--email">
				          <div class="slds-media__figure">
				            <svg aria-hidden="true" class="slds-icon slds-icon-standard-email slds-timeline__icon">
				              <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#email"></use>
				            </svg>
				          </div>
				          <div class="slds-media__body">
				            <div class="slds-tile">
				              <p class="slds-tile__title slds-truncate"><a href="#">Updated Proposals</a></p>
				              <div class="slds-tile__detail">
				                <p class="slds-truncate">Hi Rachel, Thanks for meeting with the team today and going through the proposals with us.</p>
				                <ul class="slds-list--horizontal slds-text-body--small">
				                  <li class="slds-list__item slds-m-right--large">
				                    <dl class="slds-dl--inline">
				                      <dt class="slds-dl--inline__label">To:</dt>
				                      <dd class="slds-dl--inline__detail"><a href="#">Rachel Adams</a></dd>
				                    </dl>
				                  </li>
				                  <li class="slds-list__item">
				                    <dl class="slds-dl--inline">
				                      <dt class="slds-dl--inline__label">From:</dt>
				                      <dd class="slds-dl--inline__detail"><a href="#">Ryan Dobson</a></dd>
				                    </dl>
				                  </li>
				                </ul>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				  </li>
				</ul>
				<!-- End Timeline -->
			  </div>
			  <div class="slds-tabs__content slds-hide side-tab-content" role="tabpanel" id="side-tab-content-collaborate">
			    <div class="slds-tabs--scoped" style="padding-bottom:1.5rem;">
				  <ul class="slds-tabs--scoped__nav" role="tablist">
				    <li class="slds-tabs__item slds-text-heading--label slds-active" title="Item One" role="presentation"><a href="#" role="tab" tabindex="0" aria-selected="true">Post</a></li>
				    <li class="slds-tabs__item slds-text-heading--label" title="Item Two" role="presentation"><a href="#" role="tab" tabindex="-1" aria-selected="false">Question</a></li>
				  </ul>
				  <div class="slds-tabs__content slds-show" role="tabpanel">
				      
			  		<div class="slds-form-element">
					  <label class="slds-form-element__label" for="sample2">To: This Account</label>
					  <div class="slds-form-element__control">
					    <textarea id="input__collaborate" class="slds-textarea" placeholder="Share an update, @mention someone, add a file..."></textarea>
					  </div>
					</div>
					  <div class="slds-p-top--small" style="text-align:right;">
					  	<button id="collaborate__send" class="slds-button slds-button--brand" type="button">Share</button>
					  </div>

				  </div>
				  <div class="slds-tabs__content slds-hide" role="tabpanel">
				    <h2>Item Two Content</h2>
				  </div>
				  <div class="slds-tabs__content slds-hide" role="tabpanel">
				    <h2>Item Three Content</h2>
				  </div>
				</div>
				<div id="collaborate-side">
					
				<!-- Begin Feed Item -->
				    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
				      <div class="slds-media slds-tile">
				        <div class="slds-media__figure">
				          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
				            <img src="<%= asset_path('images/Rachel.png') %>" alt="portrait" />
				          </span>
				        </div>
				        <div class="slds-media__body">
				          <p class="slds-tile__title slds-truncate"><a href="#">Rachel Adams</a></p>
				          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
				            <li class="slds-truncate slds-list__item">August 17, 2015 at 9:14 AM</li>
				          </ul>
				        </div>
				      </div>
				      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
				        <div class="slds-form-element">
				          <div class="slds-form-element__control">
				            <span class="">@Ryan Dobson, how is my retirement plan looking?</span>
				          </div>
				        </div>
				      </div>
				      <div>
				        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
				          <span class="slds-text-not-selected">
				            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#like"></use>
				            </svg>
				          </span>
				        </button>
				        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
				          <span class="slds-text-not-selected">
				            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
				              <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#add"></use>
				            </svg> Comment
				          </span>
				        </button>
				      </div>
				    </div>
				<!-- End Feed Item -->
				</div>
			  </div>
			</div>		
		</div>
		<!-- end Side Area -->
	</aside>
	</div>
</div>
<!-- Being Lazy -->
<script>
$(document).ready(function(){
     $("#main-tab-tearsheet").click(function(){
        $(".center-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".main-tab-content").hide();
        $("#main-tab-content-tearsheet").show();
    });
    $("#main-tab-details").click(function(){
    	$(".center-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".main-tab-content").hide();
        $("#main-tab-content-details").show();
    });
    $("#main-tab-financial").click(function(){
    	$(".center-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".main-tab-content").hide();
        $("#main-tab-content-financial").show();
    });
    $("#main-tab-relationships").click(function(){
        $(".center-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".main-tab-content").hide();
        $("#main-tab-content-relationships").show();
    });
    $("#main-tab-goals").click(function(){
        $(".center-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".main-tab-content").hide();
        $("#main-tab-content-goals").show();
    });

    $("#side-tab-activity").click(function(){
        $(".side-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".side-tab-content").hide();
        $("#side-tab-content-activity").show();
    });
    $("#side-tab-collaborate").click(function(){
        $(".side-tabs-temp").removeClass('slds-active');
    	$(this).addClass('slds-active');
        $(".side-tab-content").hide();
        $("#side-tab-content-collaborate").show();
    });

    $('#collaborate__send').click(function() {
		var inputValue = $('#input__collaborate').val();
		if (inputValue != ''){
			$('#collaborate-side').prepend('<div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;"> <div class="slds-media slds-tile"> <div class="slds-media__figure"> <span class="slds-avatar slds-avatar--circle slds-avatar--small"> <img src="<%= asset_path('images/Ryan.png') %>" alt="portrait" /> </span> </div> <div class="slds-media__body"> <p class="slds-tile__title slds-truncate"><a href="#">Ryan Dobson</a></p> <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small"> <li class="slds-truncate slds-list__item">September 8, 2015 at 10:23 AM</li> </ul> </div> </div> <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small"> '+inputValue+'</div> <div> <div class="slds-form-element__control"> <input id="" class="slds-input" type="text" placeholder="Write a comment ..." /> </div> </div> </div>');

			$('#input__collaborate').val('');
		}
	})
});
</script>
<!-- end grid -->