
 <div class="slds-grid" style="height:100vh; width:100vw;">
	<div style="min-height:100%; background-color:rgb(22, 50, 92);">
		<div class="tempSideNav">
			<ul class="">
				<li>
					<a href="#" class="sidenav-row-temp">
						<span class="slds-icon__container slds-icon-utility-rows">
						  <svg aria-hidden="true" class="slds-icon slds-icon--small">
						    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
						  </svg>
						</span>
					</a>
				</li>
				<li>
					<%= link_to(root_path+'today/today') do %>
						<span class="slds-icon__container">
						  <svg aria-hidden="true" class="slds-icon">
						    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#today"></use>
						  </svg>
						</span>
						Today
					<% end %>
				</li>
				<li class="selected-temp">
					<%= link_to(root_path+'sales/leadlist') do %>
						<span class="slds-icon__container slds-icon-standard-lead">
						  <svg aria-hidden="true" class="slds-icon">
						    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
						  </svg>
						</span>
						Leads
					<% end %>
				</li>
				<li>
					<%= link_to(root_path+'wm/bob') do %>
						<span class="slds-icon__container">
						  <svg aria-hidden="true" class="slds-icon">
						    <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom15"></use>
						  </svg>
						</span>
						Clients
					<% end %>
				</li>
				<li>
					<%= link_to(root_path+'wm/profile') do %>
						<span class="slds-icon__container">
						  <svg aria-hidden="true" class="slds-icon">
						    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#people"></use>
						  </svg>
						</span>
						People
					<% end %>
				</li>
				<li>
					<%= link_to(root_path+'cb/profile') do %>
						<span class="slds-icon__container">
						  <svg aria-hidden="true" class="slds-icon">
						    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
						  </svg>
						</span>
						Accounts
					<% end %>
				</li>
			</ul>
		</div>
	</div>
	<div class="slds-col">
	 <div class="slds-grid slds-wrap slds-align-top">
	 	<div class="slds-col slds-size--1-of-1 navbar-temp">
	 		<div class="slds-grid">
			  <div class="slds-col slds-align-middle">
			  	<span class="slds-icon__container slds-icon-utility-salesforce1">
				  <svg aria-hidden="true" class="slds-icon slds-icon-text-default icon-salesforce1-temp">
				    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#salesforce1"></use>
				  </svg>
				</span>
			  </div>
			  <div class="slds-col slds-align-middle" style="text-align:center;">
			  	<div class="slds-input" style="text-align:left;">
			  		<span class="slds-icon__container slds-icon-utility-search slds-m-horizontal--x-small">
					  <svg aria-hidden="true" class="slds-icon--x-small slds-icon-text-default">
					    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
					  </svg>
					</span>
			  		<input id="input__filter" type="text" placeholder="Search Salesforce" style="width:70%; border:none;">
			  	</div>
			  	
			  </div>
			  <div class="slds-col slds-align-middle icon-container ">
				<span class="slds-icon__container slds-icon-utility-apps slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-question slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-setup slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
				  </svg>
				</span>
				<span class="slds-icon__container slds-icon-utility-notification slds-m-horizontal--x-small">
				  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
				    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
				  </svg>
				</span>
		 		<%= link_to(root_path) do %>
			 		<span class="slds-avatar slds-avatar--circle slds-avatar--small slds-m-horizontal--x-small">
					  <img src="/assets/images/Ryan.png" alt="person name" />
					</span>
				<% end %>
			  </div>
			</div>
	 	</div>
		<nav class="slds-col slds-size--1-of-1">
		<!-- begin header -->
			<div class="slds-page-header">
			  <div class="slds-grid">
			    <div class="slds-media">
			        <div class="slds-media__figure">
			          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-lead">
			            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
			          </svg>
			        </div>
		        </div>
			    <div class="slds-col slds-has-flexi-truncate">
			      <p class="slds-text-heading--label">Leads</p>
			      <div class="slds-grid">
			        <div class="slds-grid slds-type-focus slds-no-space">
			          <h1 class="slds-text-heading--medium slds-truncate" title="My Leads (truncates)">My Leads</h1>
			          <button class="slds-button slds-button--icon-bare slds-shrink-none slds-align-middle slds-m-left--x-small">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
			            </svg>
			            <span class="slds-assistive-text">View More</span>
			          </button>
			        </div>
			        <button class="slds-button slds-button--icon-more slds-shrink-none slds-m-left--large" aria-haspopup="true">
			          <svg aria-hidden="true" class="slds-button__icon">
			            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
			          </svg>
			          <span class="slds-assistive-text">Settings</span>
			          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
			            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
			          </svg>
			        </button>
			        <button class="slds-button slds-button--brand slds-button-space-left slds-m-right--medium slds-shrink-none slds-align-middle slds-hide" aria-hidden="true">Save</button>
			      </div>
			    </div>
			    <div class="slds-col slds-no-flex slds-align-bottom">
			      <div class="slds-grid">
			        <div class="slds-button-space-left">
			          <button class="slds-button slds-button--icon-more" aria-haspopup="true">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
			            </svg>
			            <span class="slds-assistive-text">Table</span>
			            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
			            </svg>
			          </button>
			        </div>
			        <div class="slds-button-group slds-button-space-left" role="group">
			          <button class="slds-button slds-button--icon-border">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
			            </svg>
			            <span class="slds-assistive-text">Chart</span>
			          </button>
			          <button class="slds-button slds-button--icon-border">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
			            </svg>
			            <span class="slds-assistive-text">Filter List</span>
			          </button>
			          <button class="slds-button slds-button--icon-more">
			            <svg aria-hidden="true" class="slds-button__icon">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#sort"></use>
			            </svg>
			            <span class="slds-assistive-text">Sort</span>
			            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
			              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
			            </svg>
			            <span class="slds-assistive-text">More</span>
			          </button>
			        </div>
			        <div class="slds-button-group" role="group">
			          <button class="slds-button slds-button--neutral">Actions</button>
			          <div class="slds-button--last">
			            <button class="slds-button slds-button--icon-border-filled">
			              <svg aria-hidden="true" class="slds-button__icon">
			                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
			              </svg>
			              <span class="slds-assistive-text">More Actions</span>
			            </button>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <p class="slds-text-body--small slds-m-top--x-small">10 items • Sorted by Lead Value</p>
			</div>
			<!-- end header -->
		</nav>

		<!-- begin grid -->
		<main class="slds-col slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
			<div class="row-main">
				<!-- begin table -->
				<table class="slds-table slds-table--bordered slds-max-medium-table--stacked">
				  <thead>
				    <tr class="slds-text-heading--label">
				      <th class="slds-row-select" scope="col">
				        <label class="slds-checkbox" for="select-all">
				          <input name="checkbox" type="checkbox" id="select-all" />
				          <span class="slds-checkbox--faux"></span>
				          <span class="slds-form-element__label slds-assistive-text">select all</span>
				        </label>
				      </th>
				      <th class="slds-is-sortable" scope="col">
				        <span class="slds-truncate">Lead Name</span>
				          <button class="slds-button slds-button--icon-bare slds-button--icon-border-small">
				          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
				            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
				          </svg>
				        </button>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Lead Rank</span>
				      </th>
				      <th class="slds-is-sortable" scope="col">
				        <span class="slds-truncate">Lead Value</span>
				          <button class="slds-button slds-button--icon-bare slds-button--icon-border-small">
				          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small" style="visibility:visible">
				            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
				          </svg>
				        </button>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Source</span>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Interested</span>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Owned</span>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Last Contacted</span>
				      </th>
				      <th scope="col">
				        <span class="slds-truncate">Last Activity</span>
				      </th>
				      <th class="slds-row-action" scope="col">
				        <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
				          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
				            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
				          </svg>
				          <span class="slds-assistive-text">Show More</span>
				        </button>
				      </th>
				    </tr>
				  </thead>
				  <tbody id="leadlistTable">				 
<!-- Populated from JSON -->				    
				  </tbody>
				</table>
				<!-- end table -->
			</div>
		</main>
	</div>
</div>
<!-- end grid -->

<script>
$(document).ready(function(){

	// see if there are existing items
	var currentData = localStorage.getItem('leadlistData')

	window.leadlist = [
		{
			name: 'Sarah Bui',
			rank: '2', 
			value: '170',
			product: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom41"></use> </svg>',
			source: 'Web',
			customer: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom90"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom17"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom16"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> </svg> ',
			contacted: 'Not Contacted',
			datetime: '08/13/2015'
		},
		{
			name: 'Rachel Adams',
			rank: '3', 
			value: '155',
			product: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom41"></use> </svg>',
			source: 'Mobile App',
			customer: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom90"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom17"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom16"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> </svg> ',
			contacted: 'Not Contacted',
			datetime: '09/02/2015'
		},
		{
			name: 'Jeremy Catronio',
			rank: '0', 
			value: '130',
			product: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom41"></use> </svg>',
			source: 'Partner Referral',
			customer: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom90"></use> </svg>',
			contacted: '08/25/2015',
			datetime: '08/18/2015'
		},
		{
			name: 'Adam West',
			rank: '1', 
			value: '125',
			product: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom41"></use> </svg>',
			source: 'Phone Inquiry',
			customer: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom16"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> </svg> ',
			contacted: 'Not Contacted',
			datetime: '08/13/2015'
		},
		{
			name: 'Jane Ramirez',
			rank: '3', 
			value: '75',
			product: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom41"></use> </svg>',
			source: 'Partner Referral',
			customer: '<svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom90"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom16"></use> </svg> <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default"> </svg> ',
			contacted: '08/18/2015',
			datetime: '08/13/2015'
		},
		
	]

	// Don't read the data from localstorage if theres already existing data
	//if (!currentData) {
		// Set data
		localStorage.setItem("leadlistData", JSON.stringify(leadlist))
	//}

	// Get data
	var data = JSON.parse(localStorage.getItem('leadlistData'))
		var numID = 0;
	
		data.forEach(function(datum) {
			numID = numID+1;
			switch(datum.rank){
				
				case '0':
					datum.rank = '<svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg>';
					break;
				case '1':
					datum.rank = '<svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg>';
					break;
				case '2':
					datum.rank = '<svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-inactive"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg>';
					break;
				case '3':
					datum.rank = '<svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg> <svg aria-hidden="true" class="icon-star-active"> <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use> </svg>'; 
					break;
				default:
					datum.rank = 'Unranked';
					break;
			};

		$('#leadlistTable').append('<tr class="slds-hint-parent"> <td class="slds-row-select"> <label class="slds-checkbox" for="select-row'+numID+'"> <input name="select-row'+numID+'" type="checkbox" id="select-row'+numID+'" /> <span class="slds-checkbox--faux"></span> <span class="slds-form-element__label slds-assistive-text">select row1</span> </label> </td> <td data-label="lead-name"><a href="#" class="slds-truncate">'+datum.name+'</a></td> <td data-label="rank"> '+datum.rank+' </td> <td data-label="value"> <span class="slds-truncate">$'+datum.value+'</span> </td> <td data-label="interest"> '+datum.source+' </td> <td data-label="value"> <span class="slds-truncate">'+datum.product+'</span> </td> <td data-label="customer">'+datum.customer+'</td><td><span class="slds-truncate">'+datum.contacted+'</span></td><td data-label="activity"> <span class="slds-truncate">'+datum.datetime+'</span> </td> <td class="slds-row-action"> <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small"> <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small"> <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use> </svg> <span class="slds-assistive-text">Show More</span> </button> </td> </tr>') })


	//data.forEach(function(datum) {
	//	$('#myTestElement').append('<tr><td>'+datum.name+'</td><td>'+datum.value+'<td><td>'+datum.datetime+'<td></tr>')
	//})

	// to clear the data
	// localStorage.clear()

})
</script>