<!DOCTYPE html>
<html>
<head>
  <title>Financial Services</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png' %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" href="/assets/images/Cumulus_logos/CumulusLogo_button_white-blue-bg.png">
  <link rel="apple-touch-startup-image" href="/assets/images/CumulusSplashiPhone.png">

</head>
<body>

<%= yield %>

</body>
</html>
